header{
  font-family: sans-serif;"Helvetica";
  color: black;
  background-color: white;
}
#topnav{
  font-family: sans-serif;"Helvetica";
  color: black;
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;

}
#Google-Search{
  font-family: sans-serif;"Helvetica";
  color: blue,red,yellow,blue,green,red;
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#Feelin-Lucky{
  font-family: sans-serif;"Helvetica";
  color: black;
  font-size: 10pt;
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#footer{
  font-family: sans-serif;"Helvetica";
  color: black;
  font-size: 10pt;
  background-color: white;
  border-color: grey;
  background-color:# #cdb9b5;
  list-style-type: none;
  margin: 0;
  padding: 0;

}
