Html {
  font-family: arial,sans-serif;
  background-color: white;
  height: 100%;
  color: black;
  list-style-type: none;
}

body {
  width: 40%;
  background-color: white;
  text-align: absolute, center;
  position: center;
}

p {
  font: arial;
  text-align: center;
  position: center;
  color: black;
  height: 50%;
  font-size: 20px;
  list-style-type: none;
}

.topnav {
  font: arial;
  color: black;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  text-align: justify;
  font-size: 10pt
  list-style-type: none;
  background-color: white;
  border-color: grey;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: center;
  text-decoration: none;
  display: inline;
}

.bottom_container {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  font: arial;
  text-align: justify;
  color: grey;
  font-size: 10pt;
  border-color: grey;
  background-color: #fff2df;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: center;
  display: inline;
}
